header{
    margin-top: 2%;
    margin-left: 5%;
}
.logo{
    width: 40px;
}
.tlo{
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.info_c1{
    background-color:rgb(5, 110, 110);
}
.info_c2{
    background-color: rgb(135, 150, 3);
}
.info_c3{
    background-color: rgb(214, 141, 4);
}
.info_c4{
    background-color: rgb(126, 16, 16);
}

.info_c1, .info_c2, .info_c3, .info_c4{
    min-height: 25%;
    border: 1px solid transparent;    
    text-align: left;
    overflow: hidden;
}
a{
    color: white;
}
a:hover{
    color: rgb(90, 90, 90);
}
h3, p{
    padding: 10px;
    margin-left: 5%;
    color: white;
    
}
h3{
    margin-top: 1%;
}
li{
    color: transparent;
}
a{
    text-decoration: none;
    font-weight: bold;
    
}
.c_parrafo{

    width: 33.33%;
    float: left;
}